[submodule "dotvim/bundle/obsession"]
	path = dotvim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "dotvim/bundle/airline"]
	path = dotvim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "dotvim/bundle/dispatch"]
	path = dotvim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dotvim/bundle/nerdtree-tabs"]
	path = dotvim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "dotvim/bundle/ag"]
	path = dotvim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "dotvim/bundle/repeat"]
	path = dotvim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/unimpaired"]
	path = dotvim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/xoloxmisc"]
	path = dotvim/bundle/xoloxmisc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/notes"]
	path = dotvim/bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/colorschemes"]
	path = dotvim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "dotvim/bundle/rooter"]
	path = dotvim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotvim/bundle/ctrlp"]
	path = dotvim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotvim/bundle/delimitmate"]
	path = dotvim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/vim-snippets"]
	path = dotvim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/gundo"]
	path = dotvim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "dotvim/bundle/vimcompletesme"]
	path = dotvim/bundle/vimcompletesme
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "dotvim/bundle/easymotion"]
	path = dotvim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "dotvim/bundle/surround"]
	path = dotvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/gruvbox"]
	path = dotvim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/vim-compile"]
	path = dotvim/bundle/vim-compile
	url = https://github.com/dbeniamine/vim-compile.git
[submodule "dotvim/bundle/vim-eunuch"]
	path = dotvim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotvim/bundle/vim-sensible"]
	path = dotvim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "dotvim/bundle/Align"]
	path = dotvim/bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule "dotvim/bundle/AutoAlign"]
	path = dotvim/bundle/AutoAlign
	url = https://github.com/vim-scripts/AutoAlign
[submodule "dotvim/bundle/vim-indent-guides"]
	path = dotvim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "dotvim/bundle/vim-javacomplete2"]
	path = dotvim/bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "dotvim/bundle/vimproc"]
	path = dotvim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "dotvim/bundle/vim-vebugger"]
	path = dotvim/bundle/vim-vebugger
	url = https://github.com/idanarye/vim-vebugger.git
[submodule "dotvim/bundle/dash"]
	path = dotvim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "dotvim/bundle/tagbar"]
	path = dotvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotvim/bundle/vim-easytags"]
	path = dotvim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
