[submodule "dotvim/bundle/obsession"]
	path = dotvim/bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "dotvim/bundle/dispatch"]
	path = dotvim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "dotvim/bundle/nerdtree-tabs"]
	path = dotvim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "dotvim/bundle/ag"]
	path = dotvim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "dotvim/bundle/repeat"]
	path = dotvim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotvim/bundle/unimpaired"]
	path = dotvim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotvim/bundle/xoloxmisc"]
	path = dotvim/bundle/xoloxmisc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/fugitive"]
	path = dotvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/rooter"]
	path = dotvim/bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotvim/bundle/ultisnips"]
	path = dotvim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "dotvim/vim-snippets"]
	path = dotvim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotvim/bundle/easymotion"]
	path = dotvim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "dotvim/bundle/surround"]
	path = dotvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/gruvbox"]
	path = dotvim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotvim/bundle/vim-compile"]
	path = dotvim/bundle/vim-compile
	url = https://github.com/dbeniamine/vim-compile.git
[submodule "dotvim/bundle/vim-eunuch"]
	path = dotvim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "dotvim/bundle/vim-sensible"]
	path = dotvim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "dotvim/bundle/Align"]
	path = dotvim/bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule "dotvim/bundle/AutoAlign"]
	path = dotvim/bundle/AutoAlign
	url = https://github.com/vim-scripts/AutoAlign
[submodule "dotvim/bundle/vim-indent-guides"]
	path = dotvim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "dotvim/bundle/vimproc"]
	path = dotvim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "dotvim/bundle/vim-easytags"]
	path = dotvim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "dotvim/bundle/vim-misc"]
	path = dotvim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "dotvim/bundle/vim-multiple-cursors"]
	path = dotvim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "dotvim/bundle/emmet-vim"]
	path = dotvim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "dotvim/bundle/vim-vebugger"]
	path = dotvim/bundle/vim-vebugger
	url = https://github.com/bleshik/vim-vebugger.git
[submodule "dotvim/bundle/local-vimrc"]
	path = dotvim/bundle/local-vimrc
	url = https://github.com/MarcWeber/vim-addon-local-vimrc.git
[submodule "dotvim/bundle/vim-less"]
	path = dotvim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotvim/bundle/javascript-libraries-syntax.vim"]
	path = dotvim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "dotvim/bundle/auto-pairs"]
	path = dotvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "dotvim/bundle/vim-gitgutter"]
	path = dotvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "dotvim/bundle/vim-polyglot"]
	path = dotvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotvim/bundle/grails-vim"]
	path = dotvim/bundle/grails-vim
	url = https://github.com/vim-scripts/grails-vim.git
[submodule "dotvim/bundle/VimCompletesMe"]
	path = dotvim/bundle/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe.git
[submodule "dotvim/bundle/hardmode"]
	path = dotvim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "dotvim/bundle/vim-devicons"]
	path = dotvim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "dotvim/bundle/ctrlp.vim"]
	path = dotvim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dotvim/bundle/vim-move"]
	path = dotvim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "dotvim/bundle/bufonly"]
	path = dotvim/bundle/bufonly
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "dotvim/bundle/groovy"]
	path = dotvim/bundle/groovy
	url = https://github.com/endSly/groovy.vim.git
[submodule "dotvim/bundle/nerdtree-git-plugin"]
	path = dotvim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "dotvim/bundle/cosco.vim"]
	path = dotvim/bundle/cosco.vim
	url = https://github.com/lfilho/cosco.vim.git
[submodule "dotvim/bundle/vim-fubitive"]
	path = dotvim/bundle/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive
[submodule "dotvim/bundle/vim-javascript"]
	path = dotvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotvim/bundle/vim-jsx"]
	path = dotvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dotvim/bundle/rainbow"]
	path = dotvim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
